

<div class="container">

  <% @appointment.all.sort_by(&:created_at).each do |appointment| %>
  <ul class="list-group">
    <li class="list-group-item">Date: <%= appointment.created_at %></li>
    <li class="list-group-item">Name: <%= appointment.name %></li>
    <li class="list-group-item">Symptoms: <%= appointment.symptoms %></li>
    <li class="list-group-item">User Email: <%= appointment.user.email %></li>
    <li class="list-group-item">Doctor Follow Up: <%= appointment.follow_up %></li>

  </ul>
  <% end %>
</div>
