<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand navbar-collapse">
      <%= link_to "MyVirtualAppointment", root_path, class:"navbar-brand" %>
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="login">User Login</a>
          <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline col-xs-1" }) do |f| %>
          <div class="user-login">

            <div class="form-group">
              <%= f.text_field :username, :placeholder => "Username", class: "form-control input-sm" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, :placeholder => "Password", class: "form-control input-sm"  %>
            </div>
            <%= f.submit 'Login', class: "btn btn-sm" %>
            <% end %>
          </div>

        </li>
        <li class="nav-item">
          <a id="doctor-login">Doctor Login</a>
          <%= form_for(:doctor, :url => session_path(:doctor), html: { class: "navbar-form navbar-right form-inline col-xs-2" }) do |f| %>
          <div class="doc-login">

            <div class="form-group">
              <%= f.text_field :username, :placeholder => "Username", class: "form-control input-sm" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, :placeholder => "Password", class: "form-control input-sm"  %>
            </div>
            <%= f.submit 'Login', class: "btn btn-sm" %>
            <% end %>
          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
