<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand navbar-collapse">
      <%= link_to "MyVirtualAppointment", root_path, class:"navbar-brand" %>
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class= "nav-link" style="maring-left:0;" id="login">User Login</a>
          <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline mr-sm-2" }) do |f| %>
          <div class="user-login" style="margin-top:0;">
            <%= f.text_field :username, :placeholder => "Username", class: "form-control input-sm" %>
            <%= f.password_field :password, :placeholder => "Password", class: "form-control input-sm"  %>
            <%= f.submit 'Login', class: "btn btn-sm" %>

          </div>
          </li>
  <% end %>

        <li class="nav-item">
          <a class="nav-link" id="doctor-login">Doctor Login</a>
          <%= form_for(:doctor, :url => session_path(:doctor), html: { class: "navbar-form navbar-right form-inline mr-sm-2" }) do |f| %>
          <div class="doc-login">
            <%= f.text_field :username, :placeholder => "Username", class: "input-sm"%>


            <%= f.password_field :password, :placeholder => "Password", class: "input-sm"  %>

            <%= f.submit 'Login', class: "btn btn-sm" %>


          </div>
          </li>
<% end %>


      </ul>
    </div>
  </div>
</nav>
