

<% if current_doctor %>
<div align="middle">
  <iframe
  src="https://tokbox.com/embed/embed/ot-embed.js?embedId=ae301120-4da4-498c-b9dc-9f27b033db49&room=<%= @appointment.id %>&iframe=true"
  width=600em
  height=500em
  allow="microphone; camera"
  ></iframe>
</div>

<%= form_for @appointment do |f| %>

<div class="field">
  <%= f.label :doctor_id %><br />
  <%= f.hidden_field :doctor_id, required: true, value: current_doctor.id %>
</div>
<p>
  <div class="field">
  <div class="follow-up">
    <%= f.label :follow_up %>
  <div class="input">

    <%= f.text_field :follow_up, required: true %>
  <p>
    <%= f.submit 'Confirm' %>
  </p>
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>
