<!DOCTYPE html>
<html lang="en">
<head>
<title>MWVA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">



  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "shadowbox" %>

  <%= csrf_meta_tags %>
  <% unless controller.controller_name == "conversations" && controller.action_name == "new" %>
<nav>

<% if current_doctor.try(:admin?) %>
<%= render 'home/admin' %>
<% elsif current_doctor %>
<%= render 'home/doctor' %>
<% elsif current_user %>
<%= render 'home/user' %>
<% else %>
<%= render 'home/header' %>
<% end %>
<% end %>
</nav>
<%= javascript_include_tag "shadowbox.js" %>
<script type="text/javascript">
  Shadowbox.init({
    handleOversize: "drag",
    overlayColor: '#fff'
  });
</script>
</head>
<body>

  <%= yield %>

</body>
</html>
